body {
  padding:20px;
  background:pink;
  color:black;
  text-align:center;
}

h1{
  font-size: large;
}
a{
  text-decoration:none;
}
p{
  font-size: small;
}
.profile-img{
  width:50%;
  border-radius:50%
}
  
  .btn{ 
    display:block;
    color:black;
    padding:20px;
    background: white;
    margin:16px;
    box-shadow: 10px 10px lightblue;
  }